<!doctype html>  
<html lang="en">  
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/semantic-ui-css/semantic.min.css'/>
    </head>
    <body>
        <h1>Court-Piece</h1>
        <div id="chat-box"></div>
        <div id="input-msg">
            <form id="form" id="chat_form">
                <input id="m" type="text">
                <button>Send</button>
            </form>
        </div>
         <script src="/socket.io/socket.io.js"></script>
         <script src="/jquery/dist/jquery.js"></script>
         <script src="/semantic-ui-css/semantic.min.js"></script>
         <script src="/javascripts/gamelogic.js"></script>
    </body>
</html>  